@model Lab02_Mvc_Valverde_B.Models.ClsPersonas
@{
    Layout = null;
}
<!Doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Mostrar Uno</title>
    </head>
    <body>
        <center>
        <div>
            <h1>
                <label>DNI: </label>@Model.DNI<br />
                <label>Nombre: </label>@Model.Nombre<br />
                <label>Apellido: </label>@Model.Apellido<br />
                <label>Sexo: </label>@Model.Sexo<br />
                <label>Talla: </label>@Model.Talla<br />
                <label>Peso: </label>@Model.Peso<br />
                <label>Edad: </label>@Model.Edad<br />
            </h1>
            </div>
            </center>
    </body>
</html>
<h2>MostrarUno</h2>

